@model PartyInvites.Models.House

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Houses</h1>
        @using (Html.BeginForm())
        {
            <p>Postal Code: @Html.TextBoxFor(x => x.PostalCode)</p>
            <p>Square Footage @Html.TextBoxFor(x => x.SquareFootage)</p>
            <br/>
            <input type="submit" value="Submit Item"/>
        }

    @if (Model != null)
        {
        @(Model.PostalCode ?? "")
        }
        
            </div>
</body>
</html>
