@{
    ViewBag.Title = "MultiInfo";
    Layout = "~/Views/_maps.cshtml";
}


 <div id="map-canvas"></div>

<script type="text/javascript">

    var locations = [
        @Html.Raw(ViewBag.Locations)
    ];
   
    var map = new google.maps.Map(document.getElementById('map-canvas'), {
        zoom: 10,
        center: new google.maps.LatLng(32.710383, -117.165003),
        mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    for (i = 0; i < locations.length; i++) {  
        marker = new google.maps.Marker({
            position: new google.maps.LatLng(locations[i][1], locations[i][2]),
            map: map
        });

        google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
                infowindow.setContent(locations[i][0]);
                infowindow.open(map, marker);
            };
        })(marker, i));
    }
</script>
 