<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h2>Maps</h2>
        <a href="/map/infomap">infomap</a>  <a href="/map">basic map</a>  <a href="/map/MultiInfo">basic map</a>
     <br/><br/>
        
    </div>
    @RenderBody()
</body>
</html>
